.spacer {
   height: 20px;
}

.block {
   position: relative ;
   width:900px ;
   margin-left: auto ;
   margin-right: auto ;
   text-align: center ;
}

/*.subscribe {
   background-color:#303030 ;
   width: 850px ;
   text-align: left ;
   margin-left: auto ;
   margin-right: auto ;
   margin-bottom: 2px ;
   padding-top: 2px ;
   padding-bottom: 2px ;
   display: block ;
   color: #ffffff ;
}*/

.settings {
   background-color:#32CD32 ;
   width: 500px ;
   text-align: left ;
   margin-left: auto ;
   margin-right: auto ;
   margin-bottom: 2px ;
   padding-top: 2px ;
   padding-bottom: 2px ;
   display: block ;
   color: #ffffff ;
}

p {
   margin-left: 10px ;
   margin-right: 10px ;
}

.subscribe {
   width: 1000px;
   height: 500px;
   border: 1px gray solid;
   overflow: auto;
   display: block;
}